* {
  text-align: center;
  padding: 0;
  margin: 0;
  /* border: solid red 1px; */
}
.appContainer {
  transition: 0.4s;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(#373333, #9198e5);
}
.winBG{
  background: linear-gradient(#2c2a2a, #c1c375);
}
.loseBG{
  background: linear-gradient(#373333, #e59191);
}
.subContainer {
  width: 395px;
}
h1{
  margin-top: 20px;
  color: #FFFFF0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number {
  border: solid 2px black;
  border-radius: 10px;
  transition: 0.4s;
  height: 75px;
  width: 75px;
  margin: 12px;
  color: #FFFFF0;
  font-size: 35px;
  font-weight: bolder;
}
.selected {
  background-color: #538d4e;
}
.unselected {
  background-color: #b59f3b;
}
.diceContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.diceContainer > svg{
  width: 90px;
  height: 90px;
  color: #FFFFF0;
}
.wideBtn {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  background-color: #63d7f7;
  border: #63d7f7;
  font-size: 20px;
  transition: 0.4s;
  color: black;
}
.wideBtn:active {
  background-color: #21aed4;
  border: #21aed4;
}
.btnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.buttonIcons {
  margin: 10px;
}
.confetti {
  z-index: 0;
  width: 100vw;
  height: 120vh;
}
.clipBoardMessage {
  color: #FFFFF0;
}
.none {
  transition: 0.4s;
  display: none;
}
.helpIcon {
  transition: 0.3s;
  color: #FFFFF0;
  margin-left: 20px;
}
.helpIcon:hover {
  color: #21aed4;
}
/* Modal Styling */
.rulesModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(46, 45, 45);
  opacity: .6;
}
.rulesModal {
  position: absolute;
  top: 10vh;
  left: calc(50vw - 200px);
  width: 320px;
  height: 500px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #63d7f7;
  padding: 20px;
  border-radius: 10px;
}
.rulesModal > h3 {
  margin: 10px;
}
.rulesModal > p {
  margin-bottom: 30px;
}
.rulesModal:last-child {
  padding-bottom: 30px;
}
.exitModal{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  color: rgb(229, 109, 109);
  background-color: white;
  border-radius: 50%;
}